# 檔案詳情

In [1]:
import os
import pandas as pd
import numpy as np

In [164]:
data_dir = "./data/"
f_app_train = os.path.join(data_dir, 'application_train.csv')#join:合併字串
f_app_test = os.path.join(data_dir, 'application_test.csv')
app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

查看數據類型

In [4]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [9]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [11]:
app_train.get_dtype_counts()

float64    65
int64      41
object     16
dtype: int64

根據資料型態查找

In [15]:
app_train.select_dtypes(include=['object'])
#include, exclude : list-like(传入想要查找的类型)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN
5,Cash loans,M,N,Y,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Other,NaN,NaN,NaN,NaN
6,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Accountants,SUNDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
7,Cash loans,M,Y,Y,Unaccompanied,State servant,Higher education,Married,House / apartment,Managers,MONDAY,Other,NaN,NaN,NaN,NaN
8,Cash loans,F,N,Y,Children,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,WEDNESDAY,XNA,NaN,NaN,NaN,NaN
9,Revolving loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,THURSDAY,Electricity,NaN,NaN,NaN,NaN
10,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Core staff,SATURDAY,Medicine,NaN,NaN,NaN,NaN
11,Cash loans,F,N,Y,Children,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,XNA,NaN,NaN,NaN,NaN
12,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Business Entity Type 2,reg oper account,block of flats,NaN,No
13,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Self-employed,reg oper account,block of flats,Panel,No
14,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Transport: type 2,reg oper account,block of flats,Panel,No
15,Cash loans,M,Y,Y,Family,Working,Secondary / secondary special,Single / not married,Rented apartment,Laborers,SATURDAY,Business Entity Type 2,NaN,NaN,NaN,NaN
16,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Government,NaN,NaN,NaN,NaN
17,Revolving loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Construction,NaN,NaN,NaN,NaN
18,Revolving loans,F,N,Y,Other_A,Working,Secondary / secondary special,Widow,House / apartment,Laborers,FRIDAY,Housing,reg oper account,block of flats,"Stone, brick",No
19,Cash loans,F,N,Y,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,Core staff,MONDAY,Kindergarten,NaN,NaN,NaN,NaN
20,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,FRIDAY,Self-employed,reg oper account,block of flats,"Stone, brick",No
21,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Sales staff,MONDAY,Trade: type 7,NaN,NaN,NaN,NaN
22,Cash loans,F,N,N,Unaccompanied,Working,Secondary / secondary special,Married,Rented apartment,Sales staff,THURSDAY,Self-employed,reg oper account,block of flats,Panel,No
23,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,FRIDAY,XNA,org spec account,block of flats,Mixed,No
24,Cash loans,M,Y,N,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Drivers,THURSDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
25,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Cleaning staff,SATURDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
26,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,Cooking staff,MONDAY,Business Entity Type 3,NaN,block of flats,Wooden,Yes
27,Cash loans,M,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Laborers,SATURDAY,Industry: type 11,NaN,NaN,NaN,NaN
28,Cash loans,M,Y,Y,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,NaN,WEDNESDAY,Military,NaN,NaN,NaN,NaN
29,Revolving loans,M,N,Y,Unaccompanied,Working,Higher education,Single / not married,With parents,Laborers,TUESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,Cash loans,M,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Managers,FRIDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307482,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Managers,THURSDAY,Telecom,not specified,block of flats,Block,No
307483,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Separated,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307484,Cash loans,F,Y,N,Unaccompanied,Commercial associate,Secondary / secondary special,Married,Rented apartment,Managers,MONDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307485,Revolving loans,F,N,Y,Family,Working,Secondary / secondary special,Separated,With parents,Sales staff,SATURDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
307486,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Civil marriage,House / apartment,NaN,SATURDAY,Business Entity Type 2,NaN,block of flats,Panel,No
307487,Cash loans,M,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,NaN,WEDNESDAY,XNA,NaN,NaN,NaN,NaN
307488,Cash loans,F,N,N,Unaccompanied,State servant,Higher education,Single / not married,House / apartment,Core staff,WEDNESDAY,Government,NaN,NaN,NaN,No
307489,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,Sales staff,FRIDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",Yes
307490,Cash loans,M,N,Y,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,Laborers,SATURDAY,Business Entity Type 1,NaN,NaN,NaN,NaN
307491,Cash loans,M,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Drivers,SATURDAY,Self-employed,NaN,NaN,NaN,NaN
307492,Cash loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,FRIDAY,Self-employed,NaN,NaN,NaN,NaN
307493,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Security staff,MONDAY,School,NaN,NaN,NaN,NaN
307494,Cash loans,M,Y,N,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,Drivers,MONDAY,Self-employed,NaN,NaN,NaN,NaN
307495,Cash loans,M,Y,N,Unaccompanied,Working,Higher education,Married,House / apartment,High skill tech staff,WEDNESDAY,Business Entity Type 3,org spec account,block of flats,Panel,No
307496,Revolving loans,F,N,N,Family,Working,Higher education,Married,House / apartment,Cooking staff,THURSDAY,Self-employed,NaN,NaN,NaN,NaN
307497,Cash loans,F,Y,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Sales staff,THURSDAY,Trade: type 7,NaN,NaN,NaN,NaN
307498,Cash loans,M,Y,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,Construction,NaN,block of flats,Panel,No
307499,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Medicine staff,TUESDAY,Medicine,NaN,NaN,NaN,NaN
307500,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Married,House / apartment,NaN,FRIDAY,Business Entity Type 3,NaN,block of flats,Panel,No
307501,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Low-skill Laborers,WEDNESDAY,Industry: type 1,NaN,block of flats,"Stone, brick",No
307502,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,Laborers,MONDAY,School,NaN,NaN,NaN,NaN
307503,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,Core staff,SATURDAY,Bank,NaN,NaN,NaN,NaN
307504,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,Sales staff,WEDNESDAY,Self-employed,NaN,NaN,NaN,NaN
307505,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Single / not married,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,Panel,No
307506,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,Sales staff,THURSDAY,Services,reg oper account,block of flats,"Stone, brick",No
307507,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,NaN,MONDAY,XNA,reg oper account,block of flats,"Stone, brick",No
307508,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Separated,House / apartment,Managers,THURSDAY,School,reg oper account,block of flats,Panel,No
307509,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 1,NaN,block of flats,"Stone, brick",No
307510,Cash loans,F,N,N,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Laborers,THURSDAY,Business Entity Type 3,NaN,block of flats,Panel,No

更改資料型態

In [17]:
app_train.select_dtypes(include=['float'])

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,OWN_CAR_AGE,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,202500.000,406597.5,24700.5,351000.0,0.018801,-3648.0,NaN,1.0,0.083037,0.262949,...,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,270000.000,1293502.5,35698.5,1129500.0,0.003541,-1186.0,NaN,2.0,0.311267,0.622246,...,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,67500.000,135000.0,6750.0,135000.0,0.010032,-4260.0,26.0,1.0,NaN,0.555912,...,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,135000.000,312682.5,29686.5,297000.0,0.008019,-9833.0,NaN,2.0,NaN,0.650442,...,0.0,2.0,0.0,-617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,121500.000,513000.0,21865.5,513000.0,0.028663,-4311.0,NaN,1.0,NaN,0.322738,...,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0
5,99000.000,490495.5,27517.5,454500.0,0.035792,-4970.0,NaN,2.0,NaN,0.354225,...,0.0,0.0,0.0,-2536.0,0.0,0.0,0.0,0.0,1.0,1.0
6,171000.000,1560726.0,41301.0,1395000.0,0.035792,-1213.0,17.0,3.0,0.774761,0.724000,...,0.0,1.0,0.0,-1562.0,0.0,0.0,0.0,1.0,1.0,2.0
7,360000.000,1530000.0,42075.0,1530000.0,0.003122,-4597.0,8.0,2.0,NaN,0.714279,...,0.0,2.0,0.0,-1070.0,0.0,0.0,0.0,0.0,0.0,0.0
8,112500.000,1019610.0,33826.5,913500.0,0.018634,-7427.0,NaN,2.0,0.587334,0.205747,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,135000.000,405000.0,20250.0,405000.0,0.019689,-14437.0,NaN,1.0,NaN,0.746644,...,0.0,2.0,0.0,-1673.0,NaN,NaN,NaN,NaN,NaN,NaN
10,112500.000,652500.0,21177.0,652500.0,0.022800,-4427.0,NaN,3.0,0.319760,0.651862,...,0.0,0.0,0.0,-844.0,0.0,0.0,0.0,1.0,0.0,0.0
11,38419.155,148365.0,10678.5,135000.0,0.015221,-5246.0,NaN,2.0,0.722044,0.555183,...,0.0,0.0,0.0,-2396.0,0.0,0.0,0.0,0.0,0.0,2.0
12,67500.000,80865.0,5881.5,67500.0,0.031329,-311.0,NaN,2.0,0.464831,0.715042,...,0.0,0.0,0.0,-2370.0,0.0,0.0,0.0,1.0,0.0,0.0
13,225000.000,918468.0,28966.5,697500.0,0.016612,-643.0,23.0,3.0,NaN,0.566907,...,0.0,0.0,0.0,-4.0,0.0,0.0,0.0,0.0,0.0,1.0
14,189000.000,773680.5,32778.0,679500.0,0.010006,-615.0,NaN,2.0,0.721940,0.642656,...,0.0,0.0,0.0,-188.0,NaN,NaN,NaN,NaN,NaN,NaN
15,157500.000,299772.0,20160.0,247500.0,0.020713,-3494.0,17.0,1.0,0.115634,0.346634,...,0.0,0.0,0.0,-925.0,0.0,0.0,0.0,0.0,0.0,1.0
16,108000.000,509602.5,26149.5,387000.0,0.018634,-6392.0,NaN,2.0,NaN,0.236378,...,0.0,0.0,0.0,-3.0,0.0,0.0,0.0,0.0,1.0,0.0
17,81000.000,270000.0,13500.0,270000.0,0.010966,-4143.0,NaN,3.0,NaN,0.683513,...,0.0,4.0,0.0,-2811.0,NaN,NaN,NaN,NaN,NaN,NaN
18,112500.000,157500.0,7875.0,157500.0,0.046220,-8751.0,NaN,1.0,NaN,0.706428,...,0.0,8.0,0.0,-239.0,0.0,0.0,0.0,0.0,0.0,0.0
19,90000.000,544491.0,17563.5,454500.0,0.015221,-1021.0,NaN,2.0,NaN,0.586617,...,0.0,0.0,0.0,-1850.0,0.0,0.0,0.0,0.0,0.0,2.0
20,135000.000,427500.0,21375.0,427500.0,0.015221,-298.0,7.0,2.0,0.565655,0.113375,...,0.0,0.0,0.0,-296.0,NaN,NaN,NaN,NaN,NaN,NaN
21,202500.000,1132573.5,37561.5,927000.0,0.025164,-2299.0,14.0,3.0,0.437709,0.233767,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0
22,450000.000,497520.0,32521.5,450000.0,0.020713,-114.0,NaN,3.0,NaN,0.457143,...,0.0,0.0,0.0,-468.0,0.0,0.0,0.0,0.0,0.0,5.0
23,83250.000,239850.0,23850.0,225000.0,0.006296,-9012.0,NaN,2.0,NaN,0.624305,...,0.0,0.0,0.0,-795.0,0.0,0.0,0.0,0.0,0.0,3.0
24,135000.000,247500.0,12703.5,247500.0,0.026392,-108.0,7.0,4.0,NaN,0.786179,...,1.0,1.0,0.0,-4.0,0.0,0.0,0.0,0.0,0.0,0.0
25,90000.000,225000.0,11074.5,225000.0,0.028663,-2419.0,NaN,2.0,0.561948,0.651406,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,112500.000,979992.0,27076.5,702000.0,0.018029,-6573.0,NaN,1.0,NaN,0.548477,...,1.0,10.0,0.0,-161.0,0.0,0.0,0.0,0.0,2.0,2.0
27,112500.000,327024.0,23827.5,270000.0,0.019101,-5782.0,NaN,3.0,NaN,0.541124,...,0.0,2.0,0.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0
28,270000.000,790830.0,57676.5,675000.0,0.046220,-4668.0,1.0,1.0,0.600396,0.685011,...,0.0,0.0,0.0,-849.0,0.0,0.0,0.0,1.0,0.0,1.0
29,90000.000,180000.0,9000.0,180000.0,0.030755,-4799.0,NaN,1.0,0.297914,0.502779,...,0.0,0.0,0.0,-599.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,225000.000,297000.0,19975.5,297000.0,0.008575,-8921.0,NaN,2.0,NaN,0.713524,...,0.0,0.0,0.0,-2941.0,0.0,0.0,0.0,0.0,0.0,3.0
307482,225000.000,500566.5,34969.5,472500.0,0.031329,-2463.0,11.0,2.0,0.470808,0.737905,...,0.0,0.0,0.0,-611.0,0.0,0.0,0.0,0.0,0.0,1.0
307483,99000.000,247275.0,16479.0,225000.0,0.007330,-11211.0,NaN,1.0,NaN,0.589906,...,1.0,1.0,1.0,-1775.0,0.0,0.0,0.0,0.0,0.0,5.0
307484,540000.000,545040.0,35617.5,450000.0,0.032561,-2531.0,1.0,2.0,NaN,0.739703,...,0.0,0.0,0.0,-1578.0,NaN,NaN,NaN,NaN,NaN,NaN
307485,270000.000,180000.0,9000.0,180000.0,0.003813,-1926.0,NaN,2.0,0.426391,0.702403,...,0.0,0.0,0.0,-336.0,0.0,0.0,0.0,0.0,0.0,0.0
307486,292500.000,355536.0,18283.5,270000.0,0.072508,-5034.0,9.0,3.0,NaN,0.661025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
307487,117000.000,1071909.0,31473.0,936000.0,0.010147,-5485.0,NaN,2.0,NaN,0.307082,...,0.0,0.0,0.0,-846.0,0.0,0.0,0.0,0.0,1.0,8.0
307488,157500.000,135000.0,13351.5,135000.0,0.004960,-4158.0,NaN,1.0,0.479458,0.619662,...,0.0,1.0,0.0,-610.0,0.0,0.0,0.0,0.0,2.0,1.0
307489,225000.000,521280.0,23089.5,450000.0,0.014464,-8291.0,NaN,2.0,NaN,0.615261,...,1.0,1.0,0.0,-307.0,0.0,0.0,0.0,0.0,1.0,2.0
307490,81000.000,135000.0,9148.5,135000.0,0.010147,-9445.0,NaN,1.0,0.245623,0.378421,...,0.0,0.0,0.0,-439.0,0.0,0.0,0.0,0.0,0.0,1.0
307491,90000.000,1078200.0,31522.5,900000.0,0.019101,-5048.0,15.0,4.0,0.532858,0.561158,...,0.0,4.0,0.0,-1357.0,0.0,0.0,0.0,0.0,1.0,7.0
307492,585000.000,1575000.0,43443.0,1575000.0,0.028663,-1764.0,2.0,2.0,NaN,0.599173,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307493,135000.000,946764.0,37678.5,765000.0,0.019689,-5032.0,NaN,2.0,NaN,0.424683,...,0.0,0.0,0.0,-249.0,0.0,0.0,0.0,0.0,1.0,7.0
307494,270000.000,479700.0,46858.5,450000.0,0.035792,-1438.0,15.0,3.0,0.531969,0.699727,...,0.0,11.0,0.0,-367.0,0.0,0.0,1.0,0.0,0.0,1.0
307495,180000.000,808650.0,23773.5,675000.0,0.025164,-9596.0,2.0,2.0,NaN,0.267834,...,0.0,0.0,0.0,-2919.0,0.0,0.0,0.0,0.0,0.0,1.0
307496,360000.000,337500.0,16875.0,337500.0,0.004960,-4262.0,NaN,2.0,0.644797,0.512081,...,0.0,0.0,0.0,-826.0,0.0,0.0,0.0,0.0,0.0,2.0
307497,180000.000,270126.0,12028.5,193500.0,0.007020,-1916.0,0.0,2.0,0.251096,0.651306,...,0.0,0.0,0.0,-1344.0,0.0,0.0,0.0,0.0,0.0,6.0
307498,198000.000,1312110.0,52168.5,1125000.0,0.072508,-746.0,10.0,2.0,NaN,0.746259,...,0.0,0.0,0.0,-734.0,0.0,0.0,0.0,0.0,0.0,2.0
307499,81000.000,225000.0,12694.5,225000.0,0.007020,-5396.0,NaN,2.0,0.665343,0.649123,...,0.0,4.0,0.0,-1511.0,0.0,0.0,0.0,1.0,1.0,0.0
307500,261000.000,1303812.0,35982.0,1138500.0,0.031329,-157.0,NaN,2.0,0.896042,0.789389,...,0.0,0.0,0.0,-1459.0,0.0,0.0,0.0,1.0,0.0,5.0
307501,81000.000,269550.0,11871.0,225000.0,0.009175,-1398.0,NaN,5.0,NaN,0.575481,...,1.0,2.0,1.0,-448.0,NaN,NaN,NaN,NaN,NaN,NaN
307502,94500.000,225000.0,10620.0,225000.0,0.010966,-8672.0,NaN,3.0,NaN,0.313334,...,0.0,0.0,0.0,-1516.0,0.0,0.0,0.0,0.0,0.0,1.0
307503,112500.000,345510.0,17770.5,247500.0,0.022800,-675.0,NaN,1.0,0.243466,0.501221,...,3.0,9.0,2.0,-2315.0,0.0,0.0,0.0,1.0,0.0,2.0
307504,153000.000,331920.0,16096.5,225000.0,0.022625,-9798.0,NaN,1.0,NaN,0.530725,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
307505,112500.000,225000.0,22050.0,225000.0,0.022800,-7369.0,NaN,1.0,NaN,0.346391,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
307506,157500.000,254700.0,27558.0,225000.0,0.032561,-8456.0,NaN,1.0,0.145570,0.681632,...,0.0,0.0,0.0,-273.0,NaN,NaN,NaN,NaN,NaN,NaN
307507,72000.000,269550.0,12001.5,225000.0,0.025164,-4388.0,NaN,1.0,NaN,0.115992,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
307508,153000.000,677664.0,29979.0,585000.0,0.005002,-6737.0,NaN,1.0,0.744026,0.535722,...,0.0,6.0,0.0,-1909.0,1.0,0.0,0.0,1.0,0.0,1.0
307509,171000.000,370107.0,20205.0,319500.0,0.005313,-2562.0,NaN,2.0,NaN,0.514163,...,0.0,0.0,0.0,-322.0,0.0,0.0,0.0,0.0,0.0,0.0
307510,157500.000,675000.0,49117.5,675000.0,0.046220,-5128.0,NaN,2.0,0.734460,0.708569,...,0.0,0.0,0.0,-787.0,0.0,0.0,0.0,2.0,0.0,1.0

In [34]:
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [27]:
app_train.loc[:,"AMT_INCOME_TOTAL"] = app_train.loc[:,"AMT_INCOME_TOTAL"].astype(np.int64)

In [31]:
app_train.select_dtypes(include=['float'])#AMT_INCOME_TOTAL不屬於float的資料型態了

,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_REGISTRATION,OWN_CAR_AGE,CNT_FAM_MEMBERS,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,406597.5,24700.5,351000.0,0.018801,-3648.0,NaN,1.0,0.083037,0.262949,0.139376,...,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1293502.5,35698.5,1129500.0,0.003541,-1186.0,NaN,2.0,0.311267,0.622246,NaN,...,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,135000.0,6750.0,135000.0,0.010032,-4260.0,26.0,1.0,NaN,0.555912,0.729567,...,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,312682.5,29686.5,297000.0,0.008019,-9833.0,NaN,2.0,NaN,0.650442,NaN,...,0.0,2.0,0.0,-617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,513000.0,21865.5,513000.0,0.028663,-4311.0,NaN,1.0,NaN,0.322738,NaN,...,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0
5,490495.5,27517.5,454500.0,0.035792,-4970.0,NaN,2.0,NaN,0.354225,0.621226,...,0.0,0.0,0.0,-2536.0,0.0,0.0,0.0,0.0,1.0,1.0
6,1560726.0,41301.0,1395000.0,0.035792,-1213.0,17.0,3.0,0.774761,0.724000,0.492060,...,0.0,1.0,0.0,-1562.0,0.0,0.0,0.0,1.0,1.0,2.0
7,1530000.0,42075.0,1530000.0,0.003122,-4597.0,8.0,2.0,NaN,0.714279,0.540654,...,0.0,2.0,0.0,-1070.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1019610.0,33826.5,913500.0,0.018634,-7427.0,NaN,2.0,0.587334,0.205747,0.751724,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,405000.0,20250.0,405000.0,0.019689,-14437.0,NaN,1.0,NaN,0.746644,NaN,...,0.0,2.0,0.0,-1673.0,NaN,NaN,NaN,NaN,NaN,NaN
10,652500.0,21177.0,652500.0,0.022800,-4427.0,NaN,3.0,0.319760,0.651862,0.363945,...,0.0,0.0,0.0,-844.0,0.0,0.0,0.0,1.0,0.0,0.0
11,148365.0,10678.5,135000.0,0.015221,-5246.0,NaN,2.0,0.722044,0.555183,0.652897,...,0.0,0.0,0.0,-2396.0,0.0,0.0,0.0,0.0,0.0,2.0
12,80865.0,5881.5,67500.0,0.031329,-311.0,NaN,2.0,0.464831,0.715042,0.176653,...,0.0,0.0,0.0,-2370.0,0.0,0.0,0.0,1.0,0.0,0.0
13,918468.0,28966.5,697500.0,0.016612,-643.0,23.0,3.0,NaN,0.566907,0.770087,...,0.0,0.0,0.0,-4.0,0.0,0.0,0.0,0.0,0.0,1.0
14,773680.5,32778.0,679500.0,0.010006,-615.0,NaN,2.0,0.721940,0.642656,NaN,...,0.0,0.0,0.0,-188.0,NaN,NaN,NaN,NaN,NaN,NaN
15,299772.0,20160.0,247500.0,0.020713,-3494.0,17.0,1.0,0.115634,0.346634,0.678568,...,0.0,0.0,0.0,-925.0,0.0,0.0,0.0,0.0,0.0,1.0
16,509602.5,26149.5,387000.0,0.018634,-6392.0,NaN,2.0,NaN,0.236378,0.062103,...,0.0,0.0,0.0,-3.0,0.0,0.0,0.0,0.0,1.0,0.0
17,270000.0,13500.0,270000.0,0.010966,-4143.0,NaN,3.0,NaN,0.683513,NaN,...,0.0,4.0,0.0,-2811.0,NaN,NaN,NaN,NaN,NaN,NaN
18,157500.0,7875.0,157500.0,0.046220,-8751.0,NaN,1.0,NaN,0.706428,0.556727,...,0.0,8.0,0.0,-239.0,0.0,0.0,0.0,0.0,0.0,0.0
19,544491.0,17563.5,454500.0,0.015221,-1021.0,NaN,2.0,NaN,0.586617,0.477649,...,0.0,0.0,0.0,-1850.0,0.0,0.0,0.0,0.0,0.0,2.0
20,427500.0,21375.0,427500.0,0.015221,-298.0,7.0,2.0,0.565655,0.113375,NaN,...,0.0,0.0,0.0,-296.0,NaN,NaN,NaN,NaN,NaN,NaN
21,1132573.5,37561.5,927000.0,0.025164,-2299.0,14.0,3.0,0.437709,0.233767,0.542445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0
22,497520.0,32521.5,450000.0,0.020713,-114.0,NaN,3.0,NaN,0.457143,0.358951,...,0.0,0.0,0.0,-468.0,0.0,0.0,0.0,0.0,0.0,5.0
23,239850.0,23850.0,225000.0,0.006296,-9012.0,NaN,2.0,NaN,0.624305,0.669057,...,0.0,0.0,0.0,-795.0,0.0,0.0,0.0,0.0,0.0,3.0
24,247500.0,12703.5,247500.0,0.026392,-108.0,7.0,4.0,NaN,0.786179,0.565608,...,1.0,1.0,0.0,-4.0,0.0,0.0,0.0,0.0,0.0,0.0
25,225000.0,11074.5,225000.0,0.028663,-2419.0,NaN,2.0,0.561948,0.651406,0.461482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,979992.0,27076.5,702000.0,0.018029,-6573.0,NaN,1.0,NaN,0.548477,0.190706,...,1.0,10.0,0.0,-161.0,0.0,0.0,0.0,0.0,2.0,2.0
27,327024.0,23827.5,270000.0,0.019101,-5782.0,NaN,3.0,NaN,0.541124,0.659406,...,0.0,2.0,0.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0
28,790830.0,57676.5,675000.0,0.046220,-4668.0,1.0,1.0,0.600396,0.685011,0.524496,...,0.0,0.0,0.0,-849.0,0.0,0.0,0.0,1.0,0.0,1.0
29,180000.0,9000.0,180000.0,0.030755,-4799.0,NaN,1.0,0.297914,0.502779,NaN,...,0.0,0.0,0.0,-599.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,297000.0,19975.5,297000.0,0.008575,-8921.0,NaN,2.0,NaN,0.713524,0.511892,...,0.0,0.0,0.0,-2941.0,0.0,0.0,0.0,0.0,0.0,3.0
307482,500566.5,34969.5,472500.0,0.031329,-2463.0,11.0,2.0,0.470808,0.737905,0.394495,...,0.0,0.0,0.0,-611.0,0.0,0.0,0.0,0.0,0.0,1.0
307483,247275.0,16479.0,225000.0,0.007330,-11211.0,NaN,1.0,NaN,0.589906,0.520898,...,1.0,1.0,1.0,-1775.0,0.0,0.0,0.0,0.0,0.0,5.0
307484,545040.0,35617.5,450000.0,0.032561,-2531.0,1.0,2.0,NaN,0.739703,NaN,...,0.0,0.0,0.0,-1578.0,NaN,NaN,NaN,NaN,NaN,NaN
307485,180000.0,9000.0,180000.0,0.003813,-1926.0,NaN,2.0,0.426391,0.702403,0.865896,...,0.0,0.0,0.0,-336.0,0.0,0.0,0.0,0.0,0.0,0.0
307486,355536.0,18283.5,270000.0,0.072508,-5034.0,9.0,3.0,NaN,0.661025,0.199771,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
307487,1071909.0,31473.0,936000.0,0.010147,-5485.0,NaN,2.0,NaN,0.307082,0.255332,...,0.0,0.0,0.0,-846.0,0.0,0.0,0.0,0.0,1.0,8.0
307488,135000.0,13351.5,135000.0,0.004960,-4158.0,NaN,1.0,0.479458,0.619662,0.529890,...,0.0,1.0,0.0,-610.0,0.0,0.0,0.0,0.0,2.0,1.0
307489,521280.0,23089.5,450000.0,0.014464,-8291.0,NaN,2.0,NaN,0.615261,0.397946,...,1.0,1.0,0.0,-307.0,0.0,0.0,0.0,0.0,1.0,2.0
307490,135000.0,9148.5,135000.0,0.010147,-9445.0,NaN,1.0,0.245623,0.378421,0.495666,...,0.0,0.0,0.0,-439.0,0.0,0.0,0.0,0.0,0.0,1.0
307491,1078200.0,31522.5,900000.0,0.019101,-5048.0,15.0,4.0,0.532858,0.561158,0.716570,...,0.0,4.0,0.0,-1357.0,0.0,0.0,0.0,0.0,1.0,7.0
307492,1575000.0,43443.0,1575000.0,0.028663,-1764.0,2.0,2.0,NaN,0.599173,0.365617,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307493,946764.0,37678.5,765000.0,0.019689,-5032.0,NaN,2.0,NaN,0.424683,0.728141,...,0.0,0.0,0.0,-249.0,0.0,0.0,0.0,0.0,1.0,7.0
307494,479700.0,46858.5,450000.0,0.035792,-1438.0,15.0,3.0,0.531969,0.699727,0.511892,...,0.0,11.0,0.0,-367.0,0.0,0.0,1.0,0.0,0.0,1.0
307495,808650.0,23773.5,675000.0,0.025164,-9596.0,2.0,2.0,NaN,0.267834,0.597192,...,0.0,0.0,0.0,-2919.0,0.0,0.0,0.0,0.0,0.0,1.0
307496,337500.0,16875.0,337500.0,0.004960,-4262.0,NaN,2.0,0.644797,0.512081,0.486653,...,0.0,0.0,0.0,-826.0,0.0,0.0,0.0,0.0,0.0,2.0
307497,270126.0,12028.5,193500.0,0.007020,-1916.0,0.0,2.0,0.251096,0.651306,0.524496,...,0.0,0.0,0.0,-1344.0,0.0,0.0,0.0,0.0,0.0,6.0
307498,1312110.0,52168.5,1125000.0,0.072508,-746.0,10.0,2.0,NaN,0.746259,0.406617,...,0.0,0.0,0.0,-734.0,0.0,0.0,0.0,0.0,0.0,2.0
307499,225000.0,12694.5,225000.0,0.007020,-5396.0,NaN,2.0,0.665343,0.649123,0.206779,...,0.0,4.0,0.0,-1511.0,0.0,0.0,0.0,1.0,1.0,0.0
307500,1303812.0,35982.0,1138500.0,0.031329,-157.0,NaN,2.0,0.896042,0.789389,0.337673,...,0.0,0.0,0.0,-1459.0,0.0,0.0,0.0,1.0,0.0,5.0
307501,269550.0,11871.0,225000.0,0.009175,-1398.0,NaN,5.0,NaN,0.575481,NaN,...,1.0,2.0,1.0,-448.0,NaN,NaN,NaN,NaN,NaN,NaN
307502,225000.0,10620.0,225000.0,0.010966,-8672.0,NaN,3.0,NaN,0.313334,0.735221,...,0.0,0.0,0.0,-1516.0,0.0,0.0,0.0,0.0,0.0,1.0
307503,345510.0,17770.5,247500.0,0.022800,-675.0,NaN,1.0,0.243466,0.501221,0.609276,...,3.0,9.0,2.0,-2315.0,0.0,0.0,0.0,1.0,0.0,2.0
307504,331920.0,16096.5,225000.0,0.022625,-9798.0,NaN,1.0,NaN,0.530725,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
307505,225000.0,22050.0,225000.0,0.022800,-7369.0,NaN,1.0,NaN,0.346391,0.742182,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
307506,254700.0,27558.0,225000.0,0.032561,-8456.0,NaN,1.0,0.145570,0.681632,NaN,...,0.0,0.0,0.0,-273.0,NaN,NaN,NaN,NaN,NaN,NaN
307507,269550.0,12001.5,225000.0,0.025164,-4388.0,NaN,1.0,NaN,0.115992,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
307508,677664.0,29979.0,585000.0,0.005002,-6737.0,NaN,1.0,0.744026,0.535722,0.218859,...,0.0,6.0,0.0,-1909.0,1.0,0.0,0.0,1.0,0.0,1.0
307509,370107.0,20205.0,319500.0,0.005313,-2562.0,NaN,2.0,NaN,0.514163,0.661024,...,0.0,0.0,0.0,-322.0,0.0,0.0,0.0,0.0,0.0,0.0
307510,675000.0,49117.5,675000.0,0.046220,-5128.0,NaN,2.0,0.734460,0.708569,0.113922,...,0.0,0.0,0.0,-787.0,0.0,0.0,0.0,2.0,0.0,1.0

In [32]:
app_train.loc[:,"AMT_INCOME_TOTAL"] = app_train.loc[:,"AMT_INCOME_TOTAL"].astype(np.float)#改回來XD

Label encoding 

    Label encoding 的表示方式會讓同一個欄位底下的類別之間有大小關係 (0<1<2<...)

In [84]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

逐項練習

In [85]:
#根據NAME_CONTRACT_TYPE去做encode
le.fit(app_train['NAME_CONTRACT_TYPE'])

LabelEncoder()

In [86]:
#看被encode的項目有甚麼
le.classes_

array(['Cash loans', 'Revolving loans'], dtype=object)

In [87]:
#將被fit的le用在'NAME_CONTRACT_TYPE'這行內
le.transform(app_train['NAME_CONTRACT_TYPE'])

array([0, 0, 1, ..., 0, 0, 0])

In [88]:
#transfer的還原動作
le.inverse_transform([0,1,0,1,1,0])

array(['Cash loans', 'Revolving loans', 'Cash loans', 'Revolving loans',
       'Revolving loans', 'Cash loans'], dtype=object)

In [53]:
#創造新行去裝encoded 'NAME_CONTRACT_TYPE'
app_train['ENCODE_NAME_CONTRACT_TYPE']=le.transform(app_train['NAME_CONTRACT_TYPE'])

自我學習補充

a = np.unique(A)
对于一维数组或者列表，unique函数去除其中重复的元素，并按元素由大到小返回一个新的无元素重复的元组或者列表

In [58]:
A = [1, 2, 2, 5,3, 4, 3]
a = np.unique(A)
print(a)

[1 2 3 4 5]

改變object數量小於兩項的行

In [66]:
#datafram默認取值為行的名稱
for a in app_train:
    print(a)
    print(app_train[a].dtype)

SK_ID_CURR
int64
TARGET
int64
NAME_CONTRACT_TYPE
object
CODE_GENDER
object
FLAG_OWN_CAR
object
FLAG_OWN_REALTY
object
CNT_CHILDREN
int64
AMT_INCOME_TOTAL
float64
AMT_CREDIT
float64
AMT_ANNUITY
float64
AMT_GOODS_PRICE
float64
NAME_TYPE_SUITE
object
NAME_INCOME_TYPE
object
NAME_EDUCATION_TYPE
object
NAME_FAMILY_STATUS
object
NAME_HOUSING_TYPE
object
REGION_POPULATION_RELATIVE
float64
DAYS_BIRTH
int64
DAYS_EMPLOYED
int64
DAYS_REGISTRATION
float64
DAYS_ID_PUBLISH
int64
OWN_CAR_AGE
float64
FLAG_MOBIL
int64
FLAG_EMP_PHONE
int64
FLAG_WORK_PHONE
int64
FLAG_CONT_MOBILE
int64
FLAG_PHONE
int64
FLAG_EMAIL
int64
OCCUPATION_TYPE
object
CNT_FAM_MEMBERS
float64
REGION_RATING_CLIENT
int64
REGION_RATING_CLIENT_W_CITY
int64
WEEKDAY_APPR_PROCESS_START
object
HOUR_APPR_PROCESS_START
int64
REG_REGION_NOT_LIVE_REGION
int64
REG_REGION_NOT_WORK_REGION
int64
LIVE_REGION_NOT_WORK_REGION
int64
REG_CITY_NOT_LIVE_CITY
int64
REG_CITY_NOT_WORK_CITY
int64
LIVE_CITY_NOT_WORK_CITY
int64
ORGANIZATION_TYPE
object
EXT_SOURCE_1
float64
EXT_SOURCE_2
float64
EXT_SOURCE_3
float64
APARTMENTS_AVG
float64
BASEMENTAREA_AVG
float64
YEARS_BEGINEXPLUATATION_AVG
float64
YEARS_BUILD_AVG
float64
COMMONAREA_AVG
float64
ELEVATORS_AVG
float64
ENTRANCES_AVG
float64
FLOORSMAX_AVG
float64
FLOORSMIN_AVG
float64
LANDAREA_AVG
float64
LIVINGAPARTMENTS_AVG
float64
LIVINGAREA_AVG
float64
NONLIVINGAPARTMENTS_AVG
float64
NONLIVINGAREA_AVG
float64
APARTMENTS_MODE
float64
BASEMENTAREA_MODE
float64
YEARS_BEGINEXPLUATATION_MODE
float64
YEARS_BUILD_MODE
float64
COMMONAREA_MODE
float64
ELEVATORS_MODE
float64
ENTRANCES_MODE
float64
FLOORSMAX_MODE
float64
FLOORSMIN_MODE
float64
LANDAREA_MODE
float64
LIVINGAPARTMENTS_MODE
float64
LIVINGAREA_MODE
float64
NONLIVINGAPARTMENTS_MODE
float64
NONLIVINGAREA_MODE
float64
APARTMENTS_MEDI
float64
BASEMENTAREA_MEDI
float64
YEARS_BEGINEXPLUATATION_MEDI
float64
YEARS_BUILD_MEDI
float64
COMMONAREA_MEDI
float64
ELEVATORS_MEDI
float64
ENTRANCES_MEDI
float64
FLOORSMAX_MEDI
float64
FLOORSMIN_MEDI
float64
LANDAREA_MEDI
float64
LIVINGAPARTMENTS_MEDI
float64
LIVINGAREA_MEDI
float64
NONLIVINGAPARTMENTS_MEDI
float64
NONLIVINGAREA_MEDI
float64
FONDKAPREMONT_MODE
object
HOUSETYPE_MODE
object
TOTALAREA_MODE
float64
WALLSMATERIAL_MODE
object
EMERGENCYSTATE_MODE
object
OBS_30_CNT_SOCIAL_CIRCLE
float64
DEF_30_CNT_SOCIAL_CIRCLE
float64
OBS_60_CNT_SOCIAL_CIRCLE
float64
DEF_60_CNT_SOCIAL_CIRCLE
float64
DAYS_LAST_PHONE_CHANGE
float64
FLAG_DOCUMENT_2
int64
FLAG_DOCUMENT_3
int64
FLAG_DOCUMENT_4
int64
FLAG_DOCUMENT_5
int64
FLAG_DOCUMENT_6
int64
FLAG_DOCUMENT_7
int64
FLAG_DOCUMENT_8
int64
FLAG_DOCUMENT_9
int64
FLAG_DOCUMENT_10
int64
FLAG_DOCUMENT_11
int64
FLAG_DOCUMENT_12
int64
FLAG_DOCUMENT_13
int64
FLAG_DOCUMENT_14
int64
FLAG_DOCUMENT_15
int64
FLAG_DOCUMENT_16
int64
FLAG_DOCUMENT_17
int64
FLAG_DOCUMENT_18
int64
FLAG_DOCUMENT_19
int64
FLAG_DOCUMENT_20
int64
FLAG_DOCUMENT_21
int64
AMT_REQ_CREDIT_BUREAU_HOUR
float64
AMT_REQ_CREDIT_BUREAU_DAY
float64
AMT_REQ_CREDIT_BUREAU_WEEK
float64
AMT_REQ_CREDIT_BUREAU_MON
float64
AMT_REQ_CREDIT_BUREAU_QRT
float64
AMT_REQ_CREDIT_BUREAU_YEAR
float64
ENCODE_NAME_CONTRACT_TYPE
int32

In [129]:
#le = LabelEncoder()   (上面已經定義過了) 
le_count = 0
le_name =[]
#le_mean =[]

for col in app_train:
    if app_train[col].dtype == "object":
        if len(list(app_train[col].unique()))<=2:
            le.fit(app_train[col])
            app_train[col]=le.transform(app_train[col])
            app_test[col]=le.transform(app_test[col])
            
            #紀錄有多少個col被encode
            le_count+=1
            #紀錄是誰被encode
            le_name.append(col)
            #紀錄各col code所代表的意義
            #le_mean[col]=list(le.inverse_transform[0,1]):'method' object is not subscriptable????
            #le_mean+=list(le.inverse_transform[0,1])
print('%d cols have been encoded'%le_count)
print(le_name)
#print(le_mean)

3 cols have been encoded
['NAME_CONTRACT_TYPE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']

one hot encoding

In [161]:
#去除nan
a = list(app_train["NAME_TYPE_SUITE"].unique())
b = a[:5]+a[6:]
b

['Unaccompanied',
 'Family',
 'Spouse, partner',
 'Children',
 'Other_A',
 'Other_B',
 'Group of people']

In [165]:
#個別行
NAME_TYPE_SUITE_ENCODE_train = pd.get_dummies(app_train["NAME_TYPE_SUITE"])
NAME_TYPE_SUITE_ENCODE_test = pd.get_dummies(app_test["NAME_TYPE_SUITE"])

for i in b:
    print(NAME_TYPE_SUITE_ENCODE_train[i].head())

0    1
1    0
2    1
3    1
4    1
Name: Unaccompanied, dtype: uint8
0    0
1    1
2    0
3    0
4    0
Name: Family, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: Spouse, partner, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: Children, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: Other_A, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: Other_B, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: Group of people, dtype: uint8

In [169]:
NAME_TYPE_SUITE_ENCODE_train

,Children,Family,Group of people,Other_A,Other_B,"Spouse, partner",Unaccompanied
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1
3,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1
5,0,0,0,0,0,1,0
6,0,0,0,0,0,0,1
7,0,0,0,0,0,0,1
8,1,0,0,0,0,0,0
9,0,0,0,0,0,0,1
10,0,0,0,0,0,0,1
11,1,0,0,0,0,0,0
12,0,0,0,0,0,0,1
13,0,0,0,0,0,0,1
14,0,0,0,0,0,0,1
15,0,1,0,0,0,0,0
16,0,0,0,0,0,0,1
17,0,0,0,0,0,0,1
18,0,0,0,1,0,0,0
19,0,0,0,0,0,0,1
20,0,0,0,0,0,0,1
21,0,0,0,0,0,0,1
22,0,0,0,0,0,0,1
23,0,0,0,0,0,0,1
24,0,0,0,0,0,0,1
25,0,0,0,0,0,0,1
26,0,0,0,0,0,0,1
27,0,1,0,0,0,0,0
28,0,0,0,0,0,0,1
29,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...
307481,0,1,0,0,0,0,0
307482,0,0,0,0,0,0,1
307483,0,0,0,0,0,0,1
307484,0,0,0,0,0,0,1
307485,0,1,0,0,0,0,0
307486,0,0,0,0,0,0,1
307487,0,0,0,0,0,0,1
307488,0,0,0,0,0,0,1
307489,0,0,0,0,0,0,1
307490,0,0,0,0,0,0,1
307491,0,0,0,0,0,0,1
307492,0,0,0,0,0,0,1
307493,0,0,0,0,0,0,1
307494,0,1,0,0,0,0,0
307495,0,0,0,0,0,0,1
307496,0,1,0,0,0,0,0
307497,0,0,0,0,0,0,1
307498,0,0,0,0,0,0,1
307499,0,0,0,0,0,0,1
307500,0,0,0,0,0,0,1
307501,0,0,0,0,0,0,1
307502,0,0,0,0,0,0,1
307503,0,0,0,0,0,0,1
307504,0,0,0,0,0,0,1
307505,0,0,0,0,0,0,1
307506,0,0,0,0,0,0,1
307507,0,0,0,0,0,0,1
307508,0,0,0,0,0,0,1
307509,0,0,0,0,0,0,1
307510,0,0,0,0,0,0,1

In [177]:
#合併
app_train = pd.concat([app_train,NAME_TYPE_SUITE_ENCODE_train],axis = 1)

In [179]:
app_test = pd.concat([app_test,NAME_TYPE_SUITE_ENCODE_test],axis = 1)

In [178]:
app_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Children,Family,Group of people,Other_A,Other_B,"Spouse, partner",Unaccompanied
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0.0,0.0,1.0,0,0,0,0,0,0,1
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0.0,0.0,0.0,0,1,0,0,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,NaN,NaN,NaN,0,0,0,0,0,0,1
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0.0,0.0,0.0,0,0,0,0,0,0,1
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0.0,1.0,1.0,0,0,0,0,0,1,0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,1.0,1.0,2.0,0,0,0,0,0,0,1
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0.0,0.0,1.0,1,0,0,0,0,0,0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,NaN,NaN,NaN,0,0,0,0,0,0,1
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,1.0,0.0,0.0,0,0,0,0,0,0,1
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0.0,0.0,2.0,1,0,0,0,0,0,0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,1.0,0.0,0.0,0,0,0,0,0,0,1
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0.0,0.0,1.0,0,0,0,0,0,0,1
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,NaN,NaN,NaN,0,0,0,0,0,0,1
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0.0,0.0,1.0,0,1,0,0,0,0,0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0.0,1.0,0.0,0,0,0,0,0,0,1
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,NaN,NaN,NaN,0,0,0,0,0,0,1
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0.0,0.0,0.0,0,0,0,1,0,0,0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0.0,0.0,2.0,0,0,0,0,0,0,1
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,NaN,NaN,NaN,0,0,0,0,0,0,1
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0.0,1.0,4.0,0,0,0,0,0,0,1
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0.0,0.0,5.0,0,0,0,0,0,0,1
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0.0,0.0,3.0,0,0,0,0,0,0,1
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0.0,0.0,0.0,0,0,0,0,0,0,1
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0.0,0.0,0.0,0,0,0,0,0,0,1
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,0.0,2.0,2.0,0,0,0,0,0,0,1
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,0.0,0.0,0.0,0,1,0,0,0,0,0
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,1.0,0.0,1.0,0,0,0,0,0,0,1
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,NaN,NaN,NaN,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307481,456225,1,Cash loans,M,N,Y,0,225000.000,297000.0,19975.5,...,0.0,0.0,3.0,0,1,0,0,0,0,0
307482,456226,0,Cash loans,F,Y,Y,0,225000.000,500566.5,34969.5,...,0.0,0.0,1.0,0,0,0,0,0,0,1
307483,456227,0,Cash loans,F,N,Y,0,99000.000,247275.0,16479.0,...,0.0,0.0,5.0,0,0,0,0,0,0,1
307484,456228,0,Cash loans,F,Y,N,0,540000.000,545040.0,35617.5,...,NaN,NaN,NaN,0,0,0,0,0,0,1
307485,456229,0,Revolving loans,F,N,Y,1,270000.000,180000.0,9000.0,...,0.0,0.0,0.0,0,1,0,0,0,0,0
307486,456230,0,Cash loans,F,Y,Y,1,292500.000,355536.0,18283.5,...,0.0,1.0,1.0,0,0,0,0,0,0,1
307487,456231,0,Cash loans,M,N,Y,0,117000.000,1071909.0,31473.0,...,0.0,1.0,8.0,0,0,0,0,0,0,1
307488,456232,0,Cash loans,F,N,N,0,157500.000,135000.0,13351.5,...,0.0,2.0,1.0,0,0,0,0,0,0,1
307489,456233,1,Cash loans,F,N,Y,0,225000.000,521280.0,23089.5,...,0.0,1.0,2.0,0,0,0,0,0,0,1
307490,456234,0,Cash loans,M,N,Y,0,81000.000,135000.0,9148.5,...,0.0,0.0,1.0,0,0,0,0,0,0,1
307491,456235,0,Cash loans,M,Y,Y,2,90000.000,1078200.0,31522.5,...,0.0,1.0,7.0,0,0,0,0,0,0,1
307492,456236,0,Cash loans,M,Y,Y,0,585000.000,1575000.0,43443.0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
307493,456237,0,Cash loans,F,N,Y,0,135000.000,946764.0,37678.5,...,0.0,1.0,7.0,0,0,0,0,0,0,1
307494,456238,0,Cash loans,M,Y,N,1,270000.000,479700.0,46858.5,...,0.0,0.0,1.0,0,1,0,0,0,0,0
307495,456239,0,Cash loans,M,Y,N,0,180000.000,808650.0,23773.5,...,0.0,0.0,1.0,0,0,0,0,0,0,1
307496,456240,0,Revolving loans,F,N,N,0,360000.000,337500.0,16875.0,...,0.0,0.0,2.0,0,1,0,0,0,0,0
307497,456241,0,Cash loans,F,Y,Y,0,180000.000,270126.0,12028.5,...,0.0,0.0,6.0,0,0,0,0,0,0,1
307498,456242,0,Cash loans,M,Y,Y,0,198000.000,1312110.0,52168.5,...,0.0,0.0,2.0,0,0,0,0,0,0,1
307499,456243,0,Cash loans,F,N,Y,0,81000.000,225000.0,12694.5,...,1.0,1.0,0.0,0,0,0,0,0,0,1
307500,456244,0,Cash loans,F,N,Y,0,261000.000,1303812.0,35982.0,...,1.0,0.0,5.0,0,0,0,0,0,0,1
307501,456245,0,Cash loans,F,N,Y,3,81000.000,269550.0,11871.0,...,NaN,NaN,NaN,0,0,0,0,0,0,1
307502,456246,0,Cash loans,F,N,Y,1,94500.000,225000.0,10620.0,...,0.0,0.0,1.0,0,0,0,0,0,0,1
307503,456247,0,Cash loans,F,N,Y,0,112500.000,345510.0,17770.5,...,1.0,0.0,2.0,0,0,0,0,0,0,1
307504,456248,0,Cash loans,F,N,Y,0,153000.000,331920.0,16096.5,...,NaN,NaN,NaN,0,0,0,0,0,0,1
307505,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,22050.0,...,2.0,0.0,0.0,0,0,0,0,0,0,1
307506,456251,0,Cash loans,M,N,N,0,157500.000,254700.0,27558.0,...,NaN,NaN,NaN,0,0,0,0,0,0,1
307507,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,12001.5,...,NaN,NaN,NaN,0,0,0,0,0,0,1
307508,456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,29979.0,...,1.0,0.0,1.0,0,0,0,0,0,0,1
307509,456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,20205.0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
307510,456255,0,Cash loans,F,N,N,0,157500.000,675000.0,49117.5,...,2.0,0.0,1.0,0,0,0,0,0,0,1

# 作業

In [181]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

one hot encoding

In [182]:
sub_train = pd.get_dummies(sub_train)

In [183]:
sub_train.head()

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0