In [9]:
import pandas as pd
import numpy as np
countrynum = pd.DataFrame({'Country':['Taiwan','USA','China','Canada','Japan','Germany'],
                          'num(hundred)':[2300,30000,130000,3000,20000,8200]})

In [4]:
countrynum

   Country  num(hundred)
0   Taiwan          2300
1      USA         30000
2    China        130000
3   Canada          3000
4    Japan         20000
5  Germany          8200

In [13]:
countrynum["num(hundred)"].max()

130000

In [17]:
countrynum[countrynum["num(hundred)"]==countrynum["num(hundred)"].max()]["Country"]

2    China
Name: Country, dtype: object